<nav class="navbar navbar-toggleable-md navbar-light bg-faded top-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">logo</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gestione-menu" routerLinkActive="active">Gestione Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gestione sala</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink="/test" routerLinkActive="active">Test</a>
            </li>
        </ul>

    </div>
</nav>

<!-- this menu starts as hidden by default -->